@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@font-face {
    font-family: "uni";
    src: url("unisans.otf");
}
*
{
padding: 0px;
margin: 0px;
font-family: 'uni';
}
body
{
    background-color: white;
}
.social ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.social ul li
{
    padding: 2vh 1vw;
}
.social ul li img
{
    width: 40px;
    height: 40px;
}
#ham img
{
    padding: 10px;
    width: 40px;
    height: 40px;
}
.name
{   
    display: flex;
    flex-direction: row;
    
}
.jake
{
    transition: all 0.1s linear;
}
.name p
{
    margin: 2vh auto;
    padding: 1vh 1vw;
    font-size: 2rem;
    color: #00bfa5;
}
.name:hover .jake
{
    filter: drop-shadow(3px 2px 1px black);
}
.about
{   width: 60%;
    margin: auto;
    padding: 1vh 1vw;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about p
{
    position: relative;
    width: 100%;
    text-align: left;
    color: black;
}
#Quote,#inspiration
{
    font-size:2rem;
    padding : 2vh 0;
    color: rgba(0,0,0,0.8);
    font-family: 'Pacifico', cursive;
}
#inspiration
{
    font-family: 'uni';
    font-size: 1rem;
}
#phone
{
    width: 30px;
    height: 30px;
}
#line 
{
    width: 105%;
    height: 5px;
    margin: 0 -2.5%;
    background: #00bfa5;
    border-radius: 3px;
}
#info 
{   
    display: flex;
    justify-content: center;
}
#info p
{
    margin: auto;
    color:  rgba(0,0,0,0.75);
    font-size: 1.5rem;
    padding :5px 0px;
    transition: all 0.3s linear;
}
#info p::before
{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 7px;
    margin-left: -2vw;
    border-radius: 50%;
    background: #00bfa5;
    filter: drop-shadow(3px 0 0 #006776);
    transition: all 0.1s linear;    
}
#info p:hover::before
{
    filter: none;
}
#info p:hover
{
    color: #006776;
}
@media screen and (max-width: 600px) {
    #Quote,#inspiration {
      font-size: 1.5rem;
    }
    #info p::before
    {
        margin-left:-4vw;
    }
  }