@font-face {
    font-family: "uni";
    src: url("unisans.otf");
}
*
{
padding: 0px;
margin: 0px;
font-family: 'uni';
}
body
{
    background-color: black;
}
.name
{   
    display: flex;
    flex-direction: row;
}
.name p
{
    margin: 2vh auto;
    padding: 1vh 1vw;
    font-size: 2rem;
    color: #fe3e3e;
}
.about
{   width: 60%;
    margin: auto;
    padding: 1vh 1vw;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about p
{
    position: relative;
    width: 100%;
    text-align: left;
    color: white;
}
#Quote
{
    font-size:2rem;
    padding : 2vh 0;
    color: rgba(255,255,255,0.95);
}
#line 
{
    width: 105%;
    height: 5px;
    margin: 0 -2.5%;
    background: #fe3e3e;
    border-radius: 3px;
}
#info 
{   
    color: rgba(255,255,255,0.8);
    font-size: 1.5rem;
    padding : 2vh 0;
}

@media screen and (max-width: 600px) {
    #Quote {
      font-size: 1.5rem;
    }
  }