 @import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&family=Ubuntu:wght@300&display=swap');
*
{
	padding: 0px;
	margin: 0px;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Roboto', sans-serif;
}
:root
{
	/*color*/
	--blue: #0152a1;
	--lightblue: #65c6ef;
	--white: #ffffff; 
	--gray: #f0f4ff;

	/*fontsize*/
	--smText: 0.64rem;
    --mdText: 0.8rem;
    --lgText: 1rem;
    --xlText: 1.25rem;
    --smHeading: 1.563rem;
    --mdHeading: 1.953rem;
    --lgHeading: 2.441rem;
    --xlHeading: 3.052rem;

      /* spacing */
	  --smPadding: 0.5rem;
	  --mdPadding: 1rem;
	  --lgPadding: 1.5rem;
	  --smMargin: 0.5rem;
	  --mdMargin: 1rem;
	  --lgMargin: 1.5rem;
	  --xlMargin: 2rem;
}
body
{	
}
.navbar
{
	/*width: 100vw;*/
	position: fixed;
	z-index: 10;
	left:0;
	top:0;
	width: calc(100% - 5.33334rem);
	min-height: 70px;
	margin-top: 0px;
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:0 2.66667rem;
	transition: all 0.5s linear;
}
#logo
{
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: all 0.3s linear;
}
#logo img
{
	width: 8rem;
	height: 4rem;
}
#logo p
{
	font-weight: bold;
	font-size: 0.6rem;
}
#logotitle
{
	font-size: 	1rem;
}
#navitems ul
{
	list-style: none;
	display: flex;
	flex-direction: row;
}
#navitems ul li
{
	font-size: var(--mdText);
	font-weight: bold;
	padding: 6px 2px;
	margin: 0px 10px;
	cursor: pointer;
	color: #444;
	transition: all 0.2s linear;
	border-radius: 5px;
}
#navitems ul li a:hover
{
	background: var(--blue);
	color: white;
}
#navitems ul li a
{
	text-decoration: none;
	color: black;
	padding: 8px;
}
 
.bodycontainer,.productcontainer
{
	padding: 0% 1%;
}
.productcontainer
{
	margin: auto;
	width: 80%;
}
.productcontainer div
{
	display: flex;
	flex-direction: column;
	/*text-align: center;*/
	padding: 1.5% 0;
}
#highlightinfo
{
	display: flex;
	flex-direction: row;
}
#highlightinfo ul
{
	list-style: square;
}
#highlightinfo div img
{
	height: 200px;
	width: 200px;
}
#prodtitle
{
	font-size: var(--smHeading);
	padding: 10px 0px;
	text-transform: uppercase;

}
.productcontainer div ul
{
	list-style-type: lower-alpha;
	width: 90%;
	text-align: left;
	line-height: 2rem;
}
#head
{
	font-size: var(--smHeading);
	font-weight: bold;
	text-align: center;
	display: flex;
	margin: 3vh 0;
}
#head:first-child
{
	margin-top: 0px;
}
#head p
{
	border-bottom: 3px solid #0152a1;
	margin:auto;
	padding: 5px;
	text-transform: uppercase;
}
#readmore 
{
	align-self: flex-start;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	background: white;
	color: black; 
	font-size: var(--mdText);
	margin:auto;
	margin-top: 2vh;
	/*border: 1px solid red;*/
}
#readmore p
{
	background: var(--white);
	padding: var(--smPadding);
	font-weight: 700;
}
.about,.office_info
{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	background: white;
	padding: 2%;
	/*background: url("aboutimage.jpg");*/
	background-size: contain;
	color: white;
	background-image: linear-gradient(to bottom right,var(--blue),var(--lightblue));
}
.about:hover #image
{
	filter: grayscale(0.2);
}
#image,#content
{
	display: flex;
	flex-direction: column;
	padding: 2% 3%;
	transition: all 0.5s linear;
	margin: auto;
}
#title
{	
	display: inline-block;
	transition: all 1s linear;
	width: auto;
	padding: 2% 1%;
	font-weight: bold;
	font-size: var(--lgHeading);
	align-self: flex-start;
	margin:auto;
	padding-bottom: 0.5%;
	border-bottom: 2px dotted white;
}
#info
{
	font-size: var(--lgText);
	margin:auto;
	width: 70%;
	padding: var(--mdPadding);
}
.products
{
	display: flex;
	flex-direction: row;
	width: 80vw;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	align-content: center;
}
.cardwrapper
{
	flex-basis: 33%;
	margin: 10px 0;
}
#carditem
{
	display: flex;
	align-items: center;
	height: 297px;
	width: 297px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-size: 100% 100%;
}
#productid
{
	width: 100%;
	height: 100%;
	background:#0152a195;
	display: flex;
	align-items: center;
	margin-top: 200%;
	transition: all 0.2s linear;
}
#productid p
{
	color: white;
	font-weight: bold;
	margin: auto;
}
#carditem:hover
{
	filter: grayscale(50%);
}
#carditem:hover #productid
{
	margin-top: 0%;
}
.footer
{
	/*! background-color: #d6d6d6; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.footer div
{
	margin-top: 1.5vh;
}
.footer div:first-child
{
	flex-basis: 30%;
}
#columnhead
{
	text-transform: uppercase;
	font-size: var(--mdText);
}
#columnhead:after
{
	content: " ";
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 2px;
	/*! background: #0152a180; */
}
#columnhead h3:after
{
	content: " ";
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 5px;
	/*! background: #0152a180; */
}
#footeritems
{
	/*! margin-top: 2vh; */
	display: flex;
	flex-direction:column;
	list-style: none;
	/*! font-size: var(--mdText); */
}
#footeritems li
{
	padding: 0.3rem 0;
	color: #7d7d7d;
	/*! font-weight: bold; */
	font-size: var(--mdText);
}
#footeritems li a
{
	text-decoration: none;
	color: gray;
}
#footerlogo
{
	font-size: var(--xlText);
	color: var(--blue);
}
.rights
{

	/*! background: red; */
	display: flex;
	/*! flex-direction: row; */
	/*! justify-content: space-between; */
	width: 90%;
	margin: auto;
	border-top: 1px solid #80808073;
	margin-top: 2%;
	color: #80808073;
	font-size: var(--mdText);
}
.rights p
{
	
	padding: 2%;
}


/* contacts */
#info_contact
{
	font-size: var(--lgText);
	margin:auto;
	padding: var(--mdPadding);
	text-align: left;
	color: rgba(255,255,255,0.9);
	line-height: 1.5rem;
	border-bottom: 1px dotted white;
}
#info_contact a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	display: flex;
}
#info_contact a img
{
	margin: 0% 1%;
}
#branch
{
	font-size: var(--xlText);
	color: white;

}
#deadler_info
{
	background: var(--gray);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#deadler_info #title
{
	color:var(--lightblue);
}
.card_container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: calc(100% - 2%);
	padding: 2%;
}
#card
{
	background: white;
	/*! padding: 10px 10px; */
	flex-basis: 30%;
	margin: auto;
	text-align: center;
	line-height: 1.5rem;
	color: #7d7d7d;
	font-weight: bold;
	/*! padding: 5px inherit; */
	/*! padding: 0px; */
	/*! margin: 1% 0%; */
}
#card h4, #card h5
{
	font-size: 0.8rem;
	padding: 2% 0px;
}
/* contacts ends */
/*about*/
.abouthead
{
	/*! background-color: #d6d6d6; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 85%;
	/*justify-content: space-between;*/
	font-weight: bold;
	font-size: var(--lgText);
	justify-content: center;
	text-align: center;
	margin: 4vh auto;
}
.abouthead:first-child
{
	margin-top: 14vh;
}
.abouthead ul 
{
	text-align: left;
}
#rowhead
{
	font-size: var(--smHeading);
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
.abouthead span,.abouthead div
{
	flex-basis: 100%;
	font-weight: normal;
	font-size: var(--mdText)
	line-height: 2rem;
	color: rgba(0,0,0,0.8);
}
.imagecontainer
{
	width: 90%;
	margin: 5vh auto;
}
.imagecontainer img
{
	width: 100%;
	object-fit: fill;
}
.vision
{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 2vh auto;
	width: 90%;
}
.vision div
{	
	display: flex;
	flex-direction: column;
	font-size: var(--lgText);
	margin-top: 1vh auto;
	padding: 1%;
	color: rgba(0,0,0,0.8);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.vision #visionhead,#visionhead
{
	font-weight: bold;
	font-size: var(--xlText);
	margin: 1vh 0;
	color: var(--blue);
}
.vision ul
{
	list-style: none;
}
.vision ul li
{
	padding: 5px 0;
	color: rgba(0,0,0,0.8);
}
.vision ul li span
{
	color: black;
}
.vision ul li
{
	text-align: left;
}
/*about ends*/
@media (max-width: 800px)
{
	#title
	{
		font-size: var(--xlText);
	}
	#info,#info_contact,#info_contact span
	{
		font-size: var(--mdText);
	}

	#logo img
	{
		width: 6rem;
		height: 3rem;
	}
	#navitems
	{
		display: none;
	}
	.products
	{
		flex-direction: column;
	}
	#carditem
	{
		padding: 0px;
		width: 200px;
		height: 200px;
	}
	.footer
	{
		flex-direction: column;
	}
	.footer div
	{
		text-align: center;
	}
	#columnhead:after,#columnhead h3:after
	{
		display: none;
	}
	.rights p
	{
		margin: auto;
	}
	#card
	{
		flex-basis: 100%;
		margin: 1% 0%;
	}
	.abouthead
	{
		flex-direction: column;
	}
	#highlightinfo
	{
		flex-direction: column;
	}
}
